* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

.navbar {
  background: linear-gradient(90deg, #8b0000, #b30000);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: #fff;
}

p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
font-size: larger;
}

.navbar-center {
  flex: 1;
  display: flex;
  margin: 0 40px;
}

.navbar-center input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.navbar-center button {
  padding: 0 20px;
  border: none;
  background: #f5c542;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.hotline {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.hotline strong {
  font-size: 15px;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

.account a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.account a:hover {
  text-decoration: underline;
}

.cart {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: yellow;
  color: #000;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
